#btns a.downloadbtn {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_cloud_download_white_24px.svg') no-repeat center;
}

#btns a.clearbtn {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_refresh_white_24px.svg') no-repeat center;
}

i.addIcon {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_library_add_white_24px.svg') no-repeat center
}

i.renameIcon {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_brush_white_24px.svg') center no-repeat;
}

i.deleteIcon {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_delete_white_24px.svg') center no-repeat;
}

i.recordIcon {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_filter_center_focus_white_24px.svg') no-repeat center;	
}

i.applyIcon {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_touch_app_white_24px.svg') no-repeat center;
}

i.visibilityIcon[data-visible=true]  {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_visibility_white_24px.svg') no-repeat center;
	background-size: 100%;
}

i.visibilityIcon[data-visible=false] {
	background: url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_visibility_off_white_24px.svg') no-repeat center;
	background-size: 100%;
}